.btn {
  background-color: var(--secondary-color);
  padding: 1em;
  font-size: 18px;
  line-height: 1em;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 0.3em;
  transition: all 0.3s;
}

.btn:hover {
  box-shadow: 0 3px 6px #0003;
}

form > div:nth-child(4) {
  display: flex;
  justify-content: flex-end;
}
