.hero.short-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}
.logo {
  height: 30px;
}

.main-title {
  font-size: 70px;
  text-transform: uppercase;
}
.main-description {
  font-size: 22px;
}

.section-title {
  font-size: 18px;
  text-transform: uppercase;
}

.section-description {
  font-size: 16px;
}

footer.container {
  padding-top: 0;
}
.row.socials {
  border-bottom: 1px solid white;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  gap: 20px;
}

.socials > a {
  width: 2.5em;
  height: 2.5em;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5em;
  transition: 1s all;
}

.socials > a:hover {
  color: #1eb6f5;
  background-color: white;
}

.container > .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fffa;
}

.bottom a {
  color: #fff;
}

.bottom > .trio {
  display: flex;
  gap: 0 20px;
}

.bottom > .trio > p {
  position: relative;
}

.bottom > .trio > p::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: 1;
  right: -11px;
}

.bottom > .trio > p:last-child::after {
  content: "";
  background-color: transparent;
}

/* .bottom > .trio {
  display: flex;
}

.bottom > .trio > p:last-child {
  border: none;
}
.bottom > .trio > p {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px solid red;
} */
.bottom > .logo {
  margin-bottom: 40px;
}

@media (max-width: 700px) {
  .main-title {
    font-size: 60px;
  }
  .bottom > .trio {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
